<div class="publication-item">
    <div class="publication-image">
        <img src="images/mstile-70x70.png" alt="Test Image">
    </div>
    <div class="publication-details">
        <h3>Back-to-Bones: Rediscovering the Role of Backbones in Domain Generalization</h3>
        <p>Simone Angarano, Mauro Martini, Francesco Salvetti, Vittorio Mazzia, and 1 more author</p> <!-- Hardcoded author -->
        <p>Pattern Recognition</p> <!-- Hardcoded journal -->
        <p>2024</p> <!-- Hardcoded year -->
    </div>
</div>