<div class="publications">
  <h2>Publications</h2>
  {% for paper in site.data.publications %}
    <div class="publication-item">
      <div class="publication-image">
        <img src="{{ paper.image_url }}" alt="Publication Image">
      </div>
      <div class="publication-details">
        <h3>{{ paper.title }}</h3>
        <p class="authors">
          {{ paper.authors | replace: "Philippe Bich", "<span class='underline'>Philippe Bich</span>" | raw }}
        </p>
        <p class="journal">
          {{ paper.journal }}
          {% if paper.preprinturl %}
            - Preprint available <a href="{{ paper.preprinturl }}">here</a>.
          {% elsif paper.paperurl %}
            - You can read this publication <a href="{{ paper.paperurl }}">here</a>!
          {% else %}
            - The link to this publication will be available soon.
          {% endif %}
        </p>
        <p class="year">{{ paper.year }}</p>
      </div>
    </div>
  {% endfor %}
</div>

